bin/
*.txt

bank_account_client_repl
benchmark_client_main
benchmark_master_main
benchmark_master_repl
benchmark_server_main
echo_client
echo_server
loop_echo_client
loop_echo_server
server_main
two_ints_client_repl
two_ints_main

################################################################################
# c++
################################################################################
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
